<header class="lcars-header">
  <div class="lcars-header__container">
    <a class="brand" href="/">
      <img class="brand__logo" src="/img/captains-log-logo.svg" alt="Captain's Log" />
      <span class="brand__name">Captain's Log</span>
    </a>

    <a class="lcars-button lcars-button--primary" href="/post">Nova Entrada</a>
  </div>

  <div class="lcars-header__strip" aria-hidden="true">
    <span class="strip__seg strip__seg--a"></span>
    <span class="strip__seg strip__seg--b"></span>
    <span class="strip__seg strip__seg--c"></span>
    <span class="strip__seg strip__seg--d"></span>
  </div>
</header>
